body,html{min-width: 100%;}
.person-box{border-top:1px solid #F0F0F0;}
.person-mid {width: 1140px;margin:0 auto;overflow: hidden;min-height: 550px;}
.per-l{border:1px solid #dcdddd;width: 195px;margin-top:20px;padding:0 10px;text-align: center;float: left;}
.per-l a{color:#666666;}
.per-l h5{font-size: 1.2em;border-bottom: 1px dashed #dcdddd;height: 38px;line-height: 38px;}
.per-l dl{border-bottom: 1px dashed #DCDDDD;position: relative;}
.per-l dl img{position: absolute;left:25px;top:2px;}
.per-l dd{margin:6px 0;}
.active-dd{border-left: 4px solid #FFDD00;display: inline;margin:6px 0;padding-left: 6px;}
.per-l dt{font-size: 1.1em;padding-bottom: 10px;}
.per-r{border:1px solid #DCDCDC;width:936px;float: right;margin-top:20px;}
.per-r .iframea{width:100%;min-height: 720px;}
.pd-head {height: 45px;line-height: 45px;border-bottom:1px solid #dcdddd;}
.pd-head a{display: inline;color:#666666;margin:0 10px;}
.active-pda {border-left: 4px solid #FFDD00;padding-left: 4px;}
.pd-main {padding:6px 10px;margin-top:20px;}
.pd-main h5{width:200px;border-bottom: 2px solid #FFDD00;padding-bottom: 4px;padding-left: 8px;}
.pd-toux {width:80px;height: 80px;display: inline-block;border-radius: 80px;background-repeat: no-repeat;background-position: center;background-size: cover;}
.pd-r {display: inline-block;position: relative;top:-18px;margin-right: 8px;}
.pd-r-p1 span{font-size: 1.1em;font-weight: 700;}
.pd-r-p2 p{width:200px;height: 10px;border:1px solid #FFDD00;position: relative;display: inline-block;border-radius: 30px;top:10px;}
.pd-r-p2 .pd-span{position: absolute;left: 0;top:0;background:#FFDD00;height: 100%;border-radius: 30px;}
.pd-stxt{margin-left: 8px;}
.pd-base {margin-top:18px;margin-left: 24px;}
.pd-plist {margin-top:18px;border-bottom: 1px dashed #dcdddd;padding-bottom: 20px;}
.pd-plist p{margin-top:20px}
.pd-plist p span{display: inline-block;width:90px;text-align: right;}
.pd-plist p input{height: 30px;line-height: 30px;}
.pd-p2 b{width: 30px;height: 30px;line-height:30px;text-align: center;border:1px solid #a9a9a9;display: inline-block;position: relative;top:1px;border-left: 0;}
.pd-p2 input{width:60px;}
.pd-p3 select,.pd-p4 select,.pd-p7 select,.pd-p8 select{height: 30px;line-height: 30px;min-width: 76px;}
.pd-p5 input{width:520px;}
.pd-p9 input{width:520px;}
.education-info{margin-top:18px;}
.education-info h5{width:200px;border-bottom: 2px solid #FFDD00;padding-bottom: 4px;padding-left: 8px;margin-bottom: 20px;}
.education-info span,.work-info span{margin-left: 30px;margin-right: 4px;}
.education-info p input,.work-info p input{height: 30px;line-height: 30px;}
.education-info select,.work-info select {min-width: 76px;height: 30px;line-height: 30px;}
.education-info p,.work-info p{margin-top:20px;}
.edui-p2,.work-p2 {padding-bottom: 10px;}
.edui-add,.work-add{margin-left: 30px;border-bottom: 1px dashed #F0F0F0;padding-bottom: 10px;cursor:pointer;margin-top: 10px;}
.edui-add img,.work-add img{margin-right: 8px;}
.pd-save {display:block;width:74px;height:32px;line-height: 32px;border-radius: 6px;background:#FFDD00;color:#FFFFFF;margin:20px auto;text-align:center;}
.add-con,.add-con2 {display: none;background:#f9f8f7;padding-top:2px;padding-bottom: 20px;}
.add-del {display: block;color:#FFFFFF;background:#CCCCCC;width: 62px;height: 28px;line-height:28px;border-radius: 6px;text-align: center;margin-left: 76px;}
.upload-p {margin-top:20px;}
.a-upload {position: relative;cursor: pointer;color: #888;border:1px solid #CCCCCC;border-radius: 4px;behavior:url(js/PIE.htc);overflow: hidden;padding:8px 14px;*display: inline;*zoom: 1}
.a-upload  input {position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;filter: alpha(opacity=0);cursor: pointer}
.upload-p span{display: block;font-size: 0.8em;margin-top:10px}
.pd-edithead {border:1px solid #cccccc;width:506px;overflow: hidden;padding:30px;margin-top:30px}
.pd-editl {width:200px;height: 200px;display:block;float: left;background-size: cover;background-repeat: no-repeat;background-position: center;}
.pd-editr{border-left: 8px;border-left: 1px solid #CCCCCC;height:200px;padding-left: 8px;float: left;margin-left: 34px;padding-left: 70px;}
.pd-editr p{text-align: center;}
.pd-editr span{background-size: cover;background-repeat: no-repeat;background-position: center;display: block;width:100px;height: 100px;border-radius: 100px;}
.rec-h-list {width: 754px;}
.rec-h-list a{display: inline-block;width:80px;height: 80px;background-size: cover;background-repeat: no-repeat;background-position: center;margin-right: 10px;margin-top:8px}
.recommended-head h5{border-bottom: 0;}
.recommended-head{margin-top:20px;}
/*安全信息*/
.safety-box{padding-left: 18px;padding-top:18px;}
.safety-box h5{border-left: 4px solid #FFDD00;padding-left: 6px;}
.user-level {padding:30px 0;border-bottom: 1px dashed #CCCCCC;width:98%;margin:0 auto;}
.user-level div p{width:165px;height: 10px;border:1px solid #FFDD00;border-radius: 30px;display: inline-block;vertical-align: middle;position: relative;top:4px;margin-left: 6px;}
.user-level div p span{position: absolute;left: 0;top:0;background:#fabe00;height: 100%;border-radius: 30px;}
.leve-txt{margin-left: 4px;color:#FFDD00;}
.safety-list p,.safety-list div{display: inline-block;margin-right: 38px;vertical-align: middle;margin-top:30px;}
.safety-lists{padding-left: 40px;}
.safety-list .safe-p3 p{display: block;margin-top: 0;}
.safe-p-1 {font-weight: bold;}
.safe-p-2{color:#CCCCCC}
.safe-p4 a{color:#00b1bb;display: inline-block;width:72px;height: 30px;line-height: 30px;text-align: center;}
.safe-p2 {width:30px;text-align: center;}
.safe-p3 {width:500px}
.wei-a a{background:#FFDD00;color:#FFFFFF;text-align: center;display: inline-block;width:72px;height: 30px;line-height: 30px;border-radius: 6px;}
.content-mid{text-align: center;}
.i-know {background:#FFDD00;color: #FFFFFF;text-align: center;display: inline-block;width:100px;height: 30px;line-height: 30px;}
.content-btn{margin:0 auto;}
.bound{position: fixed;top:0;left: 0;width: 100%;height: 100%;background: #000000;opacity: 0.3;z-index: 7;display: none;}
.no-certification {background:#FFFFFF;width:322px;height: 206px;position: absolute;top:50%;left: 50%;margin-left: -161px;margin-top:-103px;z-index: 8;text-align: center;display: none;}
.no-cer-p1{margin-top:48px}
.i-know {display: inline-block;width:120px;text-align: center;background: #FFDD00;color:#FFFFFF;border-radius: 6px;margin-top:20px;}
/*实名认证*/
.real-box,.real-box2 {padding-top:10px;padding-left: 10px;}
.real-box h5,.real-box2 h5{border-left: 4px solid #FFDD00;padding-left: 6px;}
.real-p1 span,.real-p2 span{margin-right: 18px;}
.real-info {margin-top:30px;margin-left: 60px;}
.real-p2 .send-ver{float: none;margin-left: 6px;background:#FFDD00;color:#FFFFFF;border:0;width: 90px;}
.real-info input{height: 31px;line-height: 30px;}
.real-p2 {margin-top:20px}
.idcard {width:277px}
.mesg-card {width:110px;}
.id-photo{margin-top:30px}
.id-p-list {width:248px;text-align: center;float: left;margin-right: 20px;}
.id-p-list span{display: block;width:247px;height: 165px;background-size: cover;background-position: center;background-repeat: no-repeat;margin-bottom: 10px;}
.id-p-list .a-upload{border:0;color:#00b1bb;font-weight: 700;}
.real-submit {display: block;width:74px;height: 30px;line-height: 30px;color:#FFFFFF;background:#FFDD00;text-align: center;float: right;margin-right: 80px;margin-top:30px;border-radius: 6px;}
.real-box2 img{margin-right: 8px;}
.real-box2 p{margin:0 auto;margin-top:200px;width: 350px;}
.real-m-p1 .real-m-tu{display: inline-block;width:247px;height: 165px;background-size: cover;background-position: center;background-repeat: no-repeat;vertical-align:top ;}
.real-m-p1 div{display: inline-block;}
.real-m-p1 p{display: inline-block;margin-top:40px}
.real-m-p1 p span{display:block;margin:10px 0;}
.real-mid {width: 400px;text-align: center;font-weight: 700;margin:0 auto;margin-top:40px;}
.real-m-p2 {margin-top:20px;}
.real-m-p4{margin-top:30px}
.real-m-p4 a{display: inline-block;background:#ffdd00;color:#FFFFFF;width:120px;height: 32px;line-height: 32px;text-align: center;border-radius: 6px;}
.real-m-p3 a{color:#00b1bb;margin-left: 8px;;}
/*修改手机号*/
.modify-phone-number{padding-top:10px;padding-left: 10px;}
.modify-phone-number h5{border-left: 4px solid #FFDD00;padding-left: 6px;}
.modify-step {border-top:6px solid #b3b3b3;width:650px;margin:0 auto;margin-top:30px;position: relative;}
.modify-step div{width:70px;text-align: center;position: absolute;top:-22px;}
.modify-p1{width: 40px;height: 40px;border-radius: 40px;border:1px dashed #b3b3b3;margin:0 auto;position: relative;}
.modify-p1 span{display: block;width:32px;height: 32px;border-radius: 36px;background:#b3b3b3;position: absolute;top:50%;left: 50%;margin-left: -16px;color:#FFFFFF;margin-top: -16px;text-align: center;line-height: 32px;}
.modify-step .step1{left:-20px;}
.modify-step .active-step .modify-p1{border:1px dashed #FFDD00}
.modify-step .active-step .modify-p1 span{background: #FFDD00;}
.modify-step .active-step .modify-p2{font-weight: 600;}
.step2{left: 50%;margin-left: -20px;z-index: 2;}
.step3{right: -20px;}
.modify-con {width:650px;margin:0 auto;margin-top:90px;text-align: center;}
.modify-con-p1 a{color:#00b1bb;margin-left: 30px;}
.modify-con-p2{margin-top:30px;}
.modify-con-p2 input{width:120px;height: 30px;line-height: 30px;;}
.modify-con-p2  .send-ver2 {width:100px;height: 32px;background:#FFDD00;color:#FFFFFF;border:0;line-height: 32px;margin-left:15px;border-radius: 6px;position: relative;top:2px}
.modify-con-p3 a{display: block;width: 100px;height: 30px;line-height: 30px;margin:0 auto;background: #FFDD00;color:#FFFFFF;margin-top:30px}
.mod-ohone {width:240px;height: 30px;line-height: 30px;}
.mod-ok {font-weight: 800;margin-left: 10px;}
.step1{z-index: 2;}
.authentication-code {background:#FFFFFF;position: absolute;top:50%;left: 50%;width:460px;margin-left: -230px;padding:20px;display: none;z-index: 8;}
.authentication-code p{text-align: center;}
.auth-p2 img{width:72px;height: 30px;margin:0 auto;}
.auth-p3 input{width:100px;border:0;border-bottom: 1px solid #CCCCCC;text-align: center;}
.auth-p4 {color:red;display: none;}
.tog-email {width:650px;text-align: center;margin:0 auto;display: none;margin-top:90px}
.tog-phone-a {color:#00b1bb;}
/*邮箱绑定*/
.email-box{padding-top: 10px;padding-left: 10px;}
.email-box h5{border-left: 4px solid #FFDD00;padding-left: 6px;}
.email-con {width: 650px;margin:0 auto;margin-top:90px;text-align: center;}
.email-number {width:240px;height: 30px;line-height: 30px;}
.send-email {color:#FFDD00;margin-left: 20px;}
.email-ok {font-weight: 700;margin-left: 10px;}
/*银行卡绑定*/
.blank-box {padding-left: 10px;padding-top:10px;}
.blank-box h5{border-left: 4px solid #FFDD00;padding-left: 6px;}
.blank-mid {margin:0 auto;margin-top:98px;width:380px;}
.blank-mid p span{width:120px;text-align: right;display: inline-block;}
.blank-mid input {height: 32px;line-height: 32px;font-size: 12px;}
.blank-p1 input{width:120px;}
.blank-p2 input,.blank-p3 input{width: 250px;}
.blank-mid p{margin-top:24px;}
.blank-p4 input{width:200px}
.blank-p5 .mesg-code{width:120px;}
.blank-p5 .send-ver2 {background:#FFDD00;color:#FFFFFF;border:0;margin-left: 16px;border-radius: 6px;position: relative;top:2px}
.blank-p6 a{display: block;width: 100px;height: 30px;line-height: 30px;background: #FFDD00;color:#FFFFFF;margin:0 auto;margin-top:30px;text-align: center;}
.bind-ok{font-weight: 700;margin-left: 10px;}
.blank-p{text-align: center;}
/*修改登录密码*/
.modify-paswd-box {padding-left: 10px;padding-top:10px;}
.modify-paswd-box h5{border-left: 4px solid #FFDD00;padding-left: 6px;}
.mod-pawd-con span{width:100px;text-align: right;display: inline-block;}
.modify-con-p1 input{height: 30px;line-height: 30px;}
.modify-con-p2 .new-paswd,.modify-con-p1 .new-paswd {width:300px}
.mod-pawd-p{display: inline-block;vertical-align: top;position: relative;top:-4px}
.mod-pawd-con .mod-pawd-p span{display: block;width:125px;text-align: left;margin-left: 20px;}
.mod-span1 {font-weight: 700;}
.mod-span2 {color:#999999;}
/*收货地址*/
.shipp-box {padding:10px;}
.shipp-box h5{border-left: 4px solid #FFDD00;padding-left: 6px;}
.shipp-title {border-bottom: 1px dashed #CCCCCC;padding-bottom: 5px;margin-top:40px;}
.shipp-lists{overflow: hidden;}
.shipp-list {border:1px solid #dcdddd;width:294px;padding:10px;position: relative;float: left;margin:5px;min-height: 180px;}
.shipp-list h4{padding-bottom:6px;border-bottom: 1px dashed #DCDDDD;}
.ship-adres {color:#FFFFFF;padding:3px 6px;position: absolute;top:0;right: 0;cursor: pointer;}
.shipp-operation {color:#00b1bb;position: absolute;right: 6px;bottom: 38px;}
.shipp-operation span{cursor: pointer;}
.shipp-modify {margin-right: 8px;}
.ship-info {margin-top:30px}
.ship-info-title {padding-bottom: 6px;border-bottom:1px dashed #CCCCCC;}
.ship-info p span,.modify-adres-box p span{width:80px;text-align: right;display: inline-block;margin-right: 4px;}
.ship-info p,.modify-adres-box p{margin-top:20px;}
.modify-adres-box .ship-info-title{margin-top:7px;padding-bottom: 10px;}
.ship-info input{height: 30px;line-height: 30px;}
.ship-p3 input{width:290px}
.ship-info select{height: 30px;line-height: 30px;}
.ship-info .ship-p2 span{margin-right:0;}
.ship-p4 input,.ship-p5 input{width:205px} 
.ship-p6 a{display: inline-block;width:74px;height: 32px;line-height: 32px;color:#FFFFFF;text-align: center;border-radius: 6px;background:#FFDD00;}
.modify-adres-box .ship-p6 a{margin:0 auto;display: block;margin-top:-15px}
.modify-adres-box{display:none;border-radius:6px;z-index:30;width: 512px;padding:10px;height:346px;background:#FFFFFF;position: absolute;top:50%;left: 50%;margin-top:-256px;margin-left: -173px;}
.modify-close{position: absolute;right: 5px;top:5px;cursor: pointer;display: block;width:25px;height: 25px;text-align: center;line-height: 25px;}
/*账号绑定*/
.account-box{padding:10px;}
.account-box h5{border-left: 4px solid #FFDD00;padding-left: 6px;}
.account-title {color:#666666;padding:20px 0;border-bottom: 1px dashed #dcdddd;}
.account-lists{overflow: hidden;}
.account-list {float: left;border:1px solid #dcdddd;border-radius: 6px;width:240px;height: 164px;text-align: center;padding-top:50px;margin:10px 32px}
.account-r .go-bang{display: block;width:94px;height: 30px;line-height: 30px;color:#FFFFFF;text-align: center;background:#FFDD00;border-radius: 6px;}
.account-r {display: inline-block;vertical-align: middle;margin-left: 10px;}
.no-bang{color:#999999;margin-left: 8px;}
.account-r .old-bang{color:#26b7c0;}
/*我支持的项目*/
.pro-manage {padding:10px;}
.pro-manage h5{border-left: 4px solid #FFDD00;padding-left: 6px;}
.pro-mag-tab {border:1px solid #dcdddd;border-radius: 6px;height: 40px;line-height: 40px;display: inline-block;width: 510px;}
.pro-mag-tab a{display: inline-block;height:20px;line-height:20px;color: #333333;padding:0 6px;margin:0 24px;}
.pro-mag-tab .active-tab {border-left: 4px solid #FFDD00;font-weight: bold;}
.pro-mag-tab2{margin-top:18px;overflow: hidden;}
.pro-mag-tab2 li{float: left;width:150px;text-align: center;border-right: 1px solid #F0F0F0;color:#666666}
.pro-mag-tab2 a{color:#666666;display: inline-block;padding:1px 10px;border-radius: 6px;}
.pro-mag-tab2 .active-tab2{background:#eeeeee;}
.pro-mag-tab2 li:last-child{border-right: 0;}
.pro-mag-list table{border-radius: 6px 6px 0 0;}
.pro-mag-list th{text-align: center;}
.pro-mag-list .pro-mag-name{text-align: left;}
.pro-mag-info{position: relative;}
.pro-i-l{position:absolute;left:0;top:0;width:100px;height: 100px;z-index:2;background-repeat: no-repeat;background-size: cover;background-position: center;display: block;}
.pro-i-r ul{overflow: hidden;margin-top:15px;}
.pro-i-r li{float: left;text-align: center;margin:0 6px}
.pro-r-p1 {width:155px;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;font-weight: 700;}
.pro-r-p1 a{color:#666666;}
.pro-i-r{padding-left:108px;position: relative;width:330px;}
.sup-sate {width:60px;height: 22px;line-height:20px;border:1px solid #00b1bb;border-radius: 6px;font-size: 0.8em;display: inline-block;text-align: center;color:#00B1BB;position: absolute;right: 0px;top:0;}
.returns-con{width:135px;text-align: center;}
.sup-sum{width:143px;text-align: center;color:#009F95}
.transaction-state {width:80px;text-align: center;}
.return-time{width:132px;text-align: center;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{vertical-align: middle;}
.sup-operation a{display:block;text-align: center;color:#00b1bb;margin-bottom: 5px;}
.pr-page{text-align: center;}
.is-order{text-align: center;}
.layui-layer-btn .layui-layer-btn0{background-color:#ffdd00;width: 88px;}
.layui-layer-btn{text-align: center;}
.layui-layer-btn .layui-layer-btn1{background-color:#00b1bb;color:#FFFFFF;width: 88px;}
.layui-layer-btn a{height: 32px;line-height: 32px;width:74px;border-radius: 6px;margin:0 13px}
/*交易详情*/
.trad-box {padding:10px;}
.trad-box h5 {padding-left:6px;border-left: 4px solid #FFDD00;}
.trad-ul{border-top:4px solid #CCCCCC;margin:0 auto;margin-top:30px;position: relative;}
.trad-ul-nopay {width:385px;}
.trad-ul-oldpay{width:545px;}
.trad-ul-zhongok{width:720px}
.trad-ul li{width:100px;height:76px;text-align: center;position: absolute;top:-15px;}
.trad-ul li span{display: block;width:26px;height: 26px;line-height:26px;border-radius: 26px;color:#FFFFFF;text-align: center;margin:0 auto;margin-bottom: 4px;}
.trad-yellow{background:#FFDD00;}
.trad-s1{left:-40px;}
.trad-s2{left:145px}
.trad-s3{left: 322px;}
.tras-gray {background-color:#CCCCCC}
.trad-ul li p{margin-bottom:-2px;}
.trad-s4 {left: 494px;}
.trad-s5{right: -40px;}
.content-initiator{color:#00b1bb}
.trad-state{height: 76px;}
.trad-con,.trad-proplan{margin-top:20px}
.trad-p1 span{margin:0 33px;}
.trad-p2 span{margin:0 36px;}
.trad-d{border:1px solid #DDDDDD;border-radius: 6px;padding:10px;width:94%;margin:0 auto;}
.trad-d a{color:#00b1bb;}
.trad-d-p4 a{color:#FFFFFF;background:#00B1BB;width:84px;height: 28px;text-align: center;display: inline-block;line-height: 28px;border-radius: 6px;}
.trad-prodetail {margin-top: 20px;}
.trad-prodetail h5,.trad-proplan h5{padding-left:6px;border-left: 4px solid #FFDD00;}
.trad-prodetail th,.trad-prodetail td{text-align: center;}
.trad-p-tu {display: inline-block;width: 100px;height: 100px;background-position: center;background-size: cover;background-repeat: no-repeat;vertical-align: middle;}
.trad-p-txt{display: inline-block;width:250px;max-height: 40px;}
.trad-tr1 {width:372px;}
.trad-tr3{width:224px;}
.trad-tr2{width:140px}
.trad-p-lists{width:94%;margin:0 auto;padding-top:40px;padding-bottom:20px;}
.trad-p-list{border-left: 3px solid #e6e6e6;position: relative;min-height: 138px;width: 340px;margin:0 auto;padding-left: 24px;margin-top:-10px;margin-left: 324px;}
.trad-point{display: block;width:24px;height: 24px;background:#FFDD00;border-radius: 30px;position: absolute;top:0;left: -14px;}
.trad-time{position: absolute;left:-117px;top:6px;font-weight: 600;color:#666666;}
.trad-p-r{position: relative;top:6px}
.trad-r-p3{width:80px;height: 50px;background-size: cover;background-repeat: no-repeat;background-position: center;cursor: pointer;}
.trad-r-p1{font-weight: 600;color:#666666}
.big-tu {width:460px;height:360px;background-size: cover;background-repeat: no-repeat;background-position: center;}
/*商品评价*/
.pro-eval {padding:10px;}
.pro-eval h5{padding-left: 6px;border-left: 4px solid #FFDD00;}
.pro-eval table{margin-top:20px}
.pro-eval thead tr{border:1px solid #DDDDDD;}
.table>thead>tr>th{border-bottom: 1px solid #DDDDDD;}
.pro-eval th,.pro-eval td{text-align: center;}
.pro-eval .pro-th1,.pro-eval .trad-tr1{text-align: left;}
.eval-con {border:1px solid #DDDDDD;border-radius: 6px;width:94%;margin:0 auto;padding:12px 10px;padding-left: 60px;}
.eval-start{margin:0 6px;cursor: pointer;}
.eval-s:before{content: url(../images/asterisk.png);}
.eval-start img{width:18px;height: 16px;}
.good-eval-txt {height: 30px;line-height: 30px;}
.add-eval{border:1px solid #a9a9a9;color:#666666;border-left: 0;display: inline-block;height: 30px;line-height: 30px;position: relative;top:1px;padding:0 4px}
.image-list{margin-top:20px;margin-bottom:5px;margin-left: 100px;}
.eval-s{width:100px;text-align: right;display: inline-block;}
.image-span{display: inline-block;background:#FFDD00;color:#FFFFFF;padding:4px 10px;border-radius: 6px;position: relative;min-width: 70px;margin-top:10px;text-align: center;margin-right: 15px;}
.image-span img{position: absolute;right:-8px;top:-4px;width:14px;height: 14px;;}
.eval-txt{width:564px;min-height: 85px;vertical-align: top;}
.eval-con p{margin-top:26px}
.word-limit{display: block;margin-left: 544px;}
.print{display: inline-block;border:1px solid #DDDDDD;width:600px;padding:0 8px;vertical-align: top;}
.eval-print:before{content: '';}
.file {position: relative;display: inline-block;background: #ffdd00;border: 1px solid #ffdd00;border-radius: 4px;padding: 4px 12px;vertical-align:middle;overflow: hidden;color: #FFFFFF;text-decoration: none;text-indent: 0;line-height: 20px;}
.file input {position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;}
.add-newa input{position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;}
.add-newa img{width:100px;height: 80px;}
.add-newa {position: relative;display: inline-block;overflow: hidden;color: #FFFFFF;text-decoration: none;text-indent: 0;}
.print-list span{width:80px;height: 80px;background-size: cover;background-position: center;background-repeat: no-repeat;display: inline-block;margin-right: 14px;border:1px solid #F0F0F0;}
.eval-submit {width:80px;height: 32px;text-align: center;display: inline-block;line-height: 32px;color:#FFFFFF;border-radius: 6px;background:#FFDD00;}
.eval-sub:before{content: '';}
#niming{margin-left: 20px;margin-right: 3px;position: relative;top:2px}
.eval-con .eval-p{margin-top:10px}
/*物流信息*/
.logist-title{height: 45px;line-height: 45px;border:1px solid #DDDDDD;padding:0 10px;border-left: 0;border-right: 0;}
.logist-title b{border-bottom: 2px solid #FFDD00;height: 45px;line-height: 45px;display: inline-block;}
.logist-con {border:1px solid #DDDDDD;border-left: 0;border-right: 0;margin-top:20px;padding:10px;padding-top:30px;}
.logist-con p{border-left: 1px dashed #DDDDDD;height: 36px;position: relative;margin-top:-10px}
.logist-con p img {position: absolute;top:0px;left: -5px;}
.new-logist{color:#FFDD00;padding-left: 18px;}
.old-logist{color:#0a0a0a;padding-left: 18px;position: relative;top:-4px}
.logist-con p:last-child{border-left: 0;}
/*我关注的项目*/
.pro-foc-td1{width:360px;text-align: center;}
.pro-foc{margin-top:20px}
.pro-foc-td2,.pro-foc-td3,.pro-foc-td4{text-align: center;}
.pro-foc-td4 a{display: block;color:#22bbc4;}
/*我发起的项目*/
.faqi-list{margin-top:20px;}
.faqi-box{position: relative;padding:10px;}
.faqi-box h5{padding-left: 6px;border-left: 4px solid #FFDD00;}
.faqi-a{display: block;width:130px;height: 40px;line-height: 40px;text-align: center;background:#22bbc4;color:#FFFFFF;position: absolute;top:10px;right:10px;}
.faqi-td1 {width:356px;}
.faqi-td2,.faqi-td3,.faqi-td4{text-align: center;}
.faqi-td4 a{display: block;color:#22bbc4;}
.faqi-td2{width:125px;}
.faqi-td3{width:150px}
.init-a {display: block;width:94px;height: 30px;color:#FFFFFF;text-align: center;background:#FFDD00;line-height: 30px;margin:14px auto;margin-top:28px}
.gouxuan-xieyi{text-align: center;margin-top:32px}
.gouxuan-xieyi input {position: relative;top:2px;margin-right: 4px;}
#faqi-popup{position: fixed;top:40%;left: 50%;background:#FFFFFF;width:392px;height: 170px;margin-left: -196px;margin-top:-85px;display: none;z-index: 8;}
.faqi-title{background:#FFDD00;height: 32px;line-height: 32px;color:#FFFFFF;text-align: center;}
#faqi-popup img{position: absolute;top:12px;right: 4px;cursor: pointer;}
.kefu-p{text-align: center;}
.kefu-p img{vertical-align: middle;margin-right: 4px;}
/*管理入口*/
.me-title{border-top:1px solid #DDDDDD;border-bottom: 1px solid #DDDDDD;height: 45px;line-height: 45px;padding-left: 10px;}
.me-title b{border-bottom: 2px solid #FFDD00;display: inline-block;height: 45px;}
.me-list{border-left: 0;border-right: 0;margin-top: 30px;}
.me-data {height: 32px;line-height: 32px;padding-left: 10px;margin-bottom:0;border-top:1px solid #DDDDDD}
.me-td1 {position: relative;height: 110px;width:340px;overflow: hidden;}
.me-tu{float:left;width: 100px;height: 100px;background-repeat: no-repeat;background-size: cover;background-position: center;vertical-align: middle;}
.me-txt {float: left;margin-left:10px;margin-top:10px;width:183px}
.me-tate {color:#FFDD00}
.me-name a{color:#666666;font-weight: 600;}
.me-list .me-name {width:182px;max-height: 40px;overflow: hidden;text-align: left;}
.me-list td{text-align: center;border-right: 1px solid #DDDDDD;}
.me-td2,.me-td3,.me-td4{width:130px}
.me-td5{width:254px;}
.me-td6{width:100px;}
.me-td6 a{display: block;color:#666666}
.me-td6 a:hover{color:#22bbc4}
.me-list table{border-left: 0;border-right: 0;}
.med-info{overflow: hidden;width:700px;margin:0 auto;margin-top:30px}
.med-i-l{display: block;float: left;width:260px;height: 200px;background-size: cover;background-position: center;background-repeat: no-repeat;}
.med-r-p1{font-size: 1.2em;}
.med-i-r{float: left;margin-left: 10px;width:415px;padding:10px;}
.med-r-p2 span{display:inline-block;width:80px;height: 24px;line-height: 24px;text-align: center;border:1px solid #FFDD00;color:#FFDD00;border-radius: 6px;margin-left: 4px;}
.med-r-p2 b{width:288px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: inline-block;vertical-align: middle;}
.med-list{margin-top:30px}
.med-list th,.med-list td{text-align: center;}
.supporter{display: block;width: 80px;height: 80px;border-radius: 80px;background-size: cover;background-repeat: no-repeat;background-position: center;margin:0 auto;}
.med-td1{width:110px;}
.med-td2{width:198px;}
.med-td3{width: 170px;}
.med-td4{width:174px;}
.med-td5{width:225px}
.med-td5 p{margin-top:10px}
.med-td5 p span{display: block;color:#666666;height: 30px;margin-bottom: 8px;} 
.med-td5 input{display: block;width:200px;padding-left:4px;height: 30px;line-height:30px;margin:0 auto;border:0;border:1px solid #DDDDDD;border-radius: 4px;margin-bottom: 8px;}
.med-td5 a{display: block;width:126px;text-align: center;background:#FFDD00;color:#FFFFFF;height: 30px;line-height: 30px;margin:0 auto;border-radius: 6px;}
.sched-li {border-left: 4px solid #e6e6e6;min-height: 130px;position: relative;margin:0 auto;width:450px;padding-left: 20px;margin-top:-10px}
.sched-img1 {position: absolute;top:0;left: -14px;}
.sched-data {position: absolute;left: -105px;top:2px;color:#666666;}
.sched-p3 span{width:95px;height: 63px;background-size: cover;background-repeat: no-repeat;background-position: center;float: left;margin-right: 6px;}
.sched-li:last-child{border-left: 0;}
.sched-li:last-child .sched-img1{left: -10px;}
.pro-sched-list{margin-top:50px;position: relative;}
.add_dynamic{cursor: pointer;}
.add-new{background:#FFFFFF;position: absolute;top:36%;left: 50%;margin-left: -310px;width:620px;padding:10px 0;display: none;z-index:30;border-radius: 6px;}
.add-con{width:600px;margin:0 auto;min-height: 150px;display: block;}
.add-new h4{text-align: center;}
.add-new ul{overflow: hidden;margin:0 auto;width:600px;margin-top:10px}
.add-new li{float: left;margin-right:10px;}
.add-new p{font-size: 0.8em;color:#CCCCCC;width:600px;margin:0 auto;overflow: hidden;}
.fabu{display: inline-block;width:70px;height: 36px;text-align: center;line-height: 36px;color:#FFFFFF;float: right;background:#FFDD00;border-radius: 6px;}
.close-btn{position: absolute;top:8px;right: 8px;cursor: pointer;}
/*账户明细*/
.zhang-title{height: 40px;line-height: 40px;border-bottom: 1px solid #DDDDDD;padding-left: 10px;}
.zhang-title b{height: 40px;border-bottom: 2px solid #FFDD00;display: inline-block;}
.zhang-con{border:1px solid #DDDDDD;padding:8px;overflow: hidden;}
.zhang-p1 b{color:#DD0000}
.zhang-p2{color:#FFDD00}
.zhang-oper{float: right;margin-top:20px}
.zhang-oper a{display: inline-block;width:60px;height: 25px;line-height: 25px;color:#FFFFFF;text-align: center;margin-right: 10px;border-radius: 6px;}
.zhang-chong{background:#FFDD00;}
.zhang-tixian{background:#00b1bb;}
.zhang-left{float:left;}
.zhang-oper img{margin-right: 50px;}
.balance-con{margin-top:30px;}
.balance-mid{padding:10px;overflow: hidden;}
.balance-mag-tab {width:448px;display: inline-block;float: left;}
.balance-mag-tab a{margin:0 18px;}
.balance-data{float: right;margin-top:10px;}
.balance-data input{margin-left: 4px;margin-right: 4px;}
.laydate-icon, .laydate-icon-default, .laydate-icon-danlan, .laydate-icon-dahong, .laydate-icon-molv{line-height: 28px !important;height: 28px !important; }
.nickname input{height: 28px;line-height: 28px;border:1px solid #C6C6C6;width: 179px;}
.balance-tab{clear: both;width:97%;margin:0 auto;margin-top:20px;}
.balance-tab th,.balance-tab td{text-align: center;}
.bal-time{width:160px;}
.bal-odd{width:220px;color:#00b1bb}
.bal-name{width:207px}
.bal-name span{display: block;}
.bal-tip{color:#CCCCCC;font-size: 0.9em;}
.bal-in{width:98px;color:#1ca800}
.bal-out{width:98px;}
.bal-state{width:138px;}
/*充值*/
.recharge-box{padding:10px;}
.recharge-box h5{border-left: 4px solid #FFDD00;padding-left: 6px;}
.recharge-info{padding-left: 28px;margin-top:40px;}
.rech-p2 input{width:90px;height: 30px;line-height: 30px;}
.rech-p2 span{display: inline-block;height: 30px;line-height: 28px;text-align: center;background:#eeeeee;color:#666666;width: 30px;border:1px solid #a9a9a9;border-left: 0;}
.rech-tip{border:1px solid #DDDDDD;padding:8px;width:580px;color:#bcbcbc;margin-top:20px}
.rech-tip p{margin-bottom: 6px;}
.rech-sub{display: block;width:90px;height: 30px;line-height: 30px;background:#FFDD00;color:#FFFFFF;text-align: center;border-radius: 6px;margin-top:20px;}
.rech-pay{width:120px}
.rech-payp1{padding-bottom: 15px;}
.rech-payp1 span,.rech-payp2 span{display: inline-block;position: relative;width:80px;border:2px solid #FFDD00;vertical-align: middle;}
.rech-payp1 .rech-paytu{padding: 6px;width:70px;margin:0 auto;display: block;}
.rech-payp2{padding-top:15px;border-top:1px dashed #DDDDDD;display: inline-block;}
.rech-payp2 .rech-paytu{width:48px;padding:6px;margin:0 auto;display: block;}
.duihao{position: absolute;bottom: 0;right:0px;}
.rech-payp2 .duihao{display: none;}
.rech-payp2 span{border:0}
.rech-risk{width:640px;margin-top:30px;border:1px solid #DDDDDD;padding:8px;background:#fffdf0;}
.rech-risk span{display: block;margin-top: 4px;}
.rech-risk-con{text-indent: 2em;color:#666666}
/*提现*/
.withdrawal-box{padding:10px;}
.withdrawal-box h5{border-left: 4px solid #FFDD00;padding-left: 6px;}
.with-yu{margin-left: 40px;}
.with-yu b{color:red}
.blank-card{margin-top:40px}
.blank-list {display: inline-block;position:relative;width:330px;height: 175px;border:1px solid #DDDDDD;vertical-align: top;padding:8px;margin-right: 8px;margin-bottom: 8px;}
.bl-p1{padding-bottom: 6px;border-bottom: 1px solid #DDDDDD;}
.bl-car-kind{color:#FFFFFF;padding:2px 8px;background:#00b1bb;float: right;}
.bl-weihao{float: right;margin-top:4px;margin-right: 10px;font-weight: 600;}
.bl-p1 img{width:110px}
.bl-p2{margin-top:40px}
.active-blank{box-shadow: 2px 2px 4px #CCCCCC;}
.withdrawal-num {margin-top:26px}
.withdrawal-num input{width:90px;height: 30px;line-height: 30px;}
.withdrawal-num span{display: inline-block;height: 30px;line-height: 28px;text-align: center;background:#eeeeee;color:#666666;width: 30px;border:1px solid #a9a9a9;border-left: 0;}
.daozhang-time input{position: relative;top:2px;margin-right: 4px;}
.withdrawal-box .rech-sub{margin-left: 65px;}
.withdrawal-box .rech-risk{margin-left: 65px;}
.withdrawal-info{background:#f9f9f9;width:90%;margin:0 auto;marign-top:30px;padding:10px}
.info-s{display: inline-block;width: 85px;text-align: right;}
.blank_tu{margin-left: 85px;}
.blank_tu,.blank_hao{margin-top:10px}
.blank_hao{margin-left: 40px;position: relative;top:4px}
.withdrawal-info p{margin-bottom: 18px;}
.withdrawal-title{height: 50px;line-height: 50px;background:#f5f5f5;text-align: center;}
.withdrawal-title img{margin-right: 6px;height: 20px;}
.progress-apply p{display: inline-block;width:226px;}
.progress-apply p span{display: block;}
.progress-apply {width:700px;margin:0 auto;margin-top:50px;}
.gray-tiao{width: 92%;height:12px;border:1px solid #DDDDDD;border-radius: 30px;margin-top:30px;position: relative;border-left: 0;border-right: 0;}
.gray-icon{display: inline-block;text-align: center;float: left;width:33.33%;position: relative;top:-6px}
.jindu-num{position: absolute;left: 0;top:0;height: 100%;display: inline-block;background:#FFDD00;}
.withdrawal-a a{color:#00b2cc;font-weight: 600;}
.withdrawal-a{margin-top:65px}
.continue-carry{margin-right: 30px;}
.withdrawal-risk{margin-left: 30px;}
/*我的订单*/
.order-title{height: 45px;line-height: 45px;border:1px solid #DDDDDD;}
.order-title ul{width: 100%;}
.order-title li{float: left;text-align: center;}
.order-title li a{color: #666666;position: relative;}
.order-li1{width:363px;}
.order-li2{width:120px;}
.order-li3{width:120px;}
.order-li4{width: 150px;}
.order-li5{width: 179px;}
.order-title dl{position: absolute;left:50%;top:30px;background:#FFFFFF;padding:4px 6px;border:1px solid #DDDDDD;border-radius: 6px;width:120px;margin-left: -60px;display: none;}
.order-good{margin-left: 100px;}
.order-title dd{margin-bottom: 4px;}
.order-p1{background:#f7f7f7;height: 40px;line-height: 40px;padding-left: 10px;margin-bottom: 0px;}
.order-lists{clear: both;}
.order-p1 input{margin-right: 6px;}
.order-serial{margin-left: 28px;}
.order-lists{overflow: hidden;}
.order-tu{width: 100px;height: 100px;background-size: cover;background-repeat: no-repeat;background-position: center;display:block;float: left;}
.order-name{float: left;margin-left: 10px;margin-top:24px;width:228px;max-height: 40px;overflow: hidden;text-align: left;}
.order-list td{border-right: 1px solid #DDDDDD;padding:8px;text-align: center;}
.order-list{border:1px solid #DDDDDD;margin-top:10px}
.order-td4 a,.order-td5 a{display: block;color:#666666;margin-top:3px}
.order-td5 .order-detail{color:#FFDD00}
/*我的消息*/
.message-title{height: 40px;line-height: 40px;padding-left: 20px;border-bottom: 1px solid #DDDDDD;}
.message-title a{color:#666666;position: relative;margin-right:50px;height: 40px;display: inline-block;}
.private-letter span{width:6px;height: 6px;border-radius: 6px;background:red;position:absolute;left:50%;top:30px;margin-left: -3px;}
.inside-letter .badge{background:red;padding:1px 3px;margin-top:-8px;margin-left: 2px;}
.mesg-del{float: right;}
.mesg-del input{position: relative;top:2px;margin-right: 4px;}
.private-letter img{margin-left: 4px;}
.active-letter {border-bottom: 2px solid #FFDD00;}
.private-letter dl{position: absolute;display:none;top:35px;left: 0;min-width:160px;text-align: center;border:1px solid #DDDDDD;padding:6px;border-radius: 6px;background:#FFFFFF}
.private-letter dd{height: 24px;line-height: 24px;width:100%}
.private-letter dd:hover{color:#00b1bb;}
.mesg-list{border:1px solid #DDDDDD;padding:18px 0;border-left: 0;border-right: 0;}
.mesg-lists{width:96%;margin:0 auto;margin-top:20px;}
.ml-tu{width:34px;height: 34px;background-size: cover;background-repeat: no-repeat;background-position: center;display: inline-block;border-radius: 34px;margin:0 6px;vertical-align: middle;}
.ml-r{float: right;margin-top:8px;margin-right: 14px;}
.ml-r a{color:#666666;position: relative;}
.ml-r img{margin-left: 8px;}
.ml-r  dl{position: absolute;top:20px;right:0;border:1px solid #DDDDDD;border-radius: 6px;width:80px;padding:6px;text-align: center;display: none;}
.ml-r  dd:hover{color:#00b1bb;}
.ml-r  dd{height: 24px;line-height: 24px;}
.ml-brief{margin-left: 60px;margin-top:14px;margin-right: 40px;}
.mesg-tip{text-align: center;}
.ml-brief a{color:#666666;}
.ml-brief a:hover{color:#00b1bb;}
.md-txt{text-indent: 2em;padding:16px;width:90%;margin:0 auto;}
.md-title{text-align: center;margin-top:28px;}
.insert-birf{display: inline-block;width:530px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;vertical-align: middle;}
.insert-birf a{color:#666666}
.insert-oper{float: right;margin-right: 20px;}
.insert-oper a{display: inline-block;margin-left:30px;color:#666666;}
.mesg-name{color:#00b1bb;font-weight: 600px;margin:0 8px;}
.md-replay{width:88%;margin:10px auto;display: block;}
.md-replay textarea{width: 100%;border:0;min-height: 120px;outline: none;border:1px solid #F0F0F0}
.replay-btn{float: right;display: block;width:80px;height: 30px;line-height: 30px;text-align:center;color:#FFFFFF;background:#FFDD00;border-radius: 6px;}
.data-add{width: 100%;display: none;padding-top:2px;padding-bottom: 20px;}
/*基本信息展示*/
.pd-show-top{overflow: hidden;padding:8px;border-bottom:1px solid #DDDDDD;margin-bottom: 20px;padding-right: 0;}
.pds-list{float: left;border-right: 1px dashed #DDDDDD;padding-right: 10px;height: 163px;}
.pds-head{width:90px;height: 90px;float:left;background-size: cover;position:relative;top:35px;margin-left:10px;border:1px solid #cccccc;background-position: center;background-repeat: no-repeat;border-radius: 90px;display: inline-block;}
.material-bar{width:194px;height:13px;border:1px solid #FFDD00;position: relative;border-radius: 20px;display: inline-block;top:13px;}
.material-bar span{display: inline-block;background:#FFDD00;border-radius: 20px;height: 100%;line-height:13px;position: absolute;left: 0;top:0;color:#FFFFFF;font-size: 9px;text-align: center;}
.pds-txt{display: inline-block;float: left;margin-left: 10px;margin-top:10px;}
.pds-certification a{margin-left: 20px;color:#FFDD00;}
.pds-safe span{color:#00b1bb;margin-left: 10px;}
.pds-safe a{color:#FFDD00;margin-left: 20px;}
.pds-material a{color:#FFDD00;margin-left: 10px;}
.pds-list1{width:483px;overflow: hidden;}
.pds-material{margin:10px 0;}
.pds-balance{width:200px;margin-top:63px}
.pds-balance b{display: block;font-size: 1.2em;margin-left: 28px;}
.pds-list2 {text-align: center;}
.pds-chong,.pds-tixian{display:block;text-align: center;width:76px;height: 32px;line-height: 32px;color:#FFFFFF;margin:0 auto;margin-top:20px;border-radius: 6px;}
.pds-chong{margin-top:41px;}
.pds-chong{background:#FFDD00;}
.pds-tixian{background:#00b1bb;}
.pds-list3{width:228px;border-right: 0;}
.pds-base{border-bottom:1px dashed #DDDDDD;}
.pds-base h5{width:200px;border-bottom: 2px solid #CCCCCC;height: 30px;line-height: 28px;text-align: center;}
.pds-base h5 b{display: block;width: 90px;text-align: center;border-bottom: 2px solid #FFDD00;}
.pds-info-list{padding:6px;padding:0px 10px;}
.pds-sl {float: left;display: block;min-width: 320px;}
.pds-sr{float:left;display: block;}
.pds-base p{overflow: hidden;width: 100%;padding:0 10px;margin-top:10px;}
.record-no{color:#00b1bb;}
.pds-base span{display:inline-block;margin-right: 40px;}
.pds-xueli p{padding:14px 0;border-bottom: 1px dashed #DDDDDD;padding-left: 8px;}
.pds-xueli {border-bottom: 0;}
.sixin-list{background:#fafafa;width:88%;margin: 10px auto;padding:10px;overflow: hidden;margin-bottom: 10px;display: block;}
.sixin-head{width: 38px;height: 38px;background-size: cover;background-repeat: no-repeat;background-position: center;border-radius: 38px;display: inline-block;vertical-align: middle;margin-right: 10px;}
.sixin-time{float: right;margin-top:10px;font-size: 0.9em;color:#CCCCCC}
.sixin-con{margin-left: 50px;margin-top:14px}
.sixin-btn{display: block;width: 80px;height: 30px;line-height: 30px;text-align: center;color:#FFFFFF;background:#FFDD00;float: right;border-radius: 6px;}
.md-re-p{margin-top:10px;}
.emotion img{cursor: pointer;margin-right: 4px;}
.med-td5 .real-save{display: block;width:80px;height: 26px;line-height: 26px;background:#FFDD00;border-radius: 6px;text-align: center;color:#FFFFFF}
.trad-p3{margin-left: 35px;}
.trad-d-p2 span{margin-left: 30px;}
/*已绑定银行卡*/
.old-bound-box {padding:0 10px;}
.old-bound-box h5{border-left: 4px solid #FFDD00;padding-left: 6px;}
.old-blank-card .blank-list p{text-align: left;}
.add-newcard{color: #FFFFFF;background:#FFDD00;display: block;width:164px;height: 40px;line-height: 40px;text-align: center;margin:0 auto;margin-top:20px;border-radius: 4px;}
.cancel-bind{display: block;position: absolute;right: 10px;top:94px;color:#3A87AD;cursor: pointer;}
.old-blank-card{width: 702px;margin:0 auto;margin-top:30px}
.med-td4 p{text-align: left;}
/**/
.no-sche{position: absolute;top:50%;left: 50%;width: 25px;height: 25px;display: block;margin-top:218px;}
